<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Hallinta</title>
    </head>
    <body style="background-color:darkseagreen">
        
               <div>
            <ul>
               <a  th:href="@{/uutinen}"> UUTISTEN LISÄYS<li style="display:inline; padding-right: 20px; text-transform:uppercase; font-weight:bold;
              font-size:2em;font-family:sans-serif;word-spacing:30px;" th:each="uutinen : ${uutiset}" th:text="${uutinen.kategoria}"  ></li></a>
         
            </ul>
        </div>
       

     
        <h2>Lisää uutinen</h2>
        <p>
            Kirjoita otsikko, ingressi, uutisen sisältö ja paina Lisää:<br/>  
        </p>


        <form method="POST" th:action="@{/}">
            Otsikko:<input type="text" name="name"/><br/><br/>
            Ingressi:<textarea name="ingressi" rows="10" cols="30"></textarea><br/><br/>
            Sisältö:<textarea  type="text" name="sisalto" rows="10" cols="30"></textarea><br/>
            
            Kuva: <input type="text" name="kuva" id="kuva"/><br/>
        
            Julkaisuaika <input type="text" name="time" id="time"/><br/>
            Kirjoittajat <input type="text" name="kirjoittajat" id="kirjoittajat"/><br/>
            Kategoria <input type="text" name="kategoria" id="kategoria"/><br/>
           
           
          
            <input type="submit" value="Lisää"/>
        </form>


         <p>
         Onks gategoriat valmiit..urheilu..kotomaa ulkomaa...niin että riippu...valikosta voi valita tms?  valitse kategoria(checkbox)tms...
         </p>  
        <div><a href="/listaus">Uutisten listaaminen</a></div>
        <div><a href="/uutinen">Uutinen</a></div>
        <a th:href="@{/uutinen}">News</a><br/>
   
        <h2>luotu uutinen</h2>


        
        

    </body>





</html>
