<!DOCTYPE HTML> 
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>kategoriat</title>
    </head>
    <body> 
               <div>
            <ul>
                <li  style="display:inline; padding-right: 20px; text-transform:uppercase; font-weight:bold;
                     font-size:2em;font-family:sans-serif;word-spacing:30px;" th:each="kategoria : ${kategoriat}">
                    <a th:href="@{/kategoriat/{kategoriaId}(kategoriaId=${kategoria.id})}" th:text="${kategoria.name}">uutinen kategoria</a>
                </li>
            </ul>
        </div> 

        <h2>Existing Uutiset</h2>
    <ol>
            <li th:each="uutinen: ${uutiset}">
                <h2> <a th:href="@{/uutinen/{uutinenId}(uutinenId=${uutinen.id})}"<span th:text="${uutinen.name}">name</span></a></h2>
                <span th:text="${uutinen.kuva}">type</span><br/>
                <span th:text="${uutinen.aika}">type</span><br/><br/>
            </li>
        </ol>
       <li  th:each="kategoria : ${kategoriat}" th:text="${kategoria.name}">uutinen kategoria</li>
         <li  th:each="kategoria : ${kategoriat}" th:text="${kategoria.uutiset}">uutinen kategoria</li>
            <div><a href="/">Lisää uusi uutinen</a></div>
             <div><a href="/listaus">Listaa uutisia</a></div>

    </body>

</html> 