<!DOCTYPE HTML>
  <!-- <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Title</title>
    </head>
    <body>
         <p>
         navigaatio   kategoriaat linkit listana
        </p>

        <h2>Uusimmat uutiset 5kpl</h2>
          
       <div>
            <ul>
                <li th:each="uutinen : ${uutiset}" th:text="${uutinen.name}"></li>
            </ul>
        </div>

        <p>
            OTSIKKO INGRESSI KUVA!!!!!!!
          Uutissivuston etusivu listaa oletuksena viisi uusinta uutista siten, että jokaisesta uutisesta näkyy otsikko, ingressi ja kuva
          Uutista klikkaamalla pääsee lukemaan koko uutisen.  Lisää näihin linkit.. lisää näyttämän ingressi ja kuva

        </p>
        
         <h2>Uutiset jullkaisuajan perusteella</h2>
          <div>
            <ul>
                <li th:each="uutinen : ${uutiset}" th:text="${uutinen.name}"></li>
            </ul>
        </div>

         
        <p>
           OTSIKKO ja PÄIVÄMÄÄRÄ!!!
           
            uutisten listaamiseen julkaisuajan perusteella, 
            Muut listaukset näyttävät oletuksena uutisen otsikon sekä julkaisupäivämäärän
            näihin  linkit konkreettiseen uutiseen. 

        </p>
           <h2>Uutiset lukumäärän perusteella</h2>
        <p>
          listaa  edellisen viikon aikana kertyneiden lukumäärien perusteella   
        </p>


    </body>

</html>
-->