<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Title</title>
    </head>
    <body>
        <div>
            <ul> kategoriat :   
                <li  style="display:inline; padding-right: 20px; text-transform:uppercase; font-weight:bold;
                     font-size:2em;font-family:sans-serif;word-spacing:30px;" th:each="uutinen : ${uutiset}">
                    <a th:href="@{/uutinen/{uutinenId}(uutinenId=${uutinen.id})}" th:text="${uutinen.kategoria}">uutinen name</a>
                    <!--kommentti    <a th:href="@{/uutinen/{uutinenId}(uutinenId=${uutinen.id})}" th:text="${uutinen.kategoria}">uutinen name</a>  -->
                </li>
            </ul>
        </div><br/>


        <h1>Uusimmat uutiset (5kpl) (otsikko ingressi ja kuva) jäsrjestettynä julkaisuajan perusteella</h1>

        <div>
            <ol>

                <li th:each="uutinen : ${uutiset}">
                    <a th:href="@{/uutinen/{uutinenId}(uutinenId=${uutinen.id})}" th:text="${uutinen.name}">uutinen name</a>
                    <!--kommentti    <a th:href="@{/uutinen/{uutinenId}(uutinenId=${uutinen.id})}" th:text="${uutinen.kategoria}">uutinen name</a>  -->
                </li>
            </ol>
        </div><br/>    

        <!--  -->
        <div>
            <h2>Luetuimmat: (nimi ja pvm)</h2>     
            <p>
                listaa  edellisen viikon aikana kertyneiden lukumäärien perusteella ...oisko joku cookies/evästejuttu  
                Muut listaukset näyttävät oletuksena uutisen otsikon sekä julkaisupäivämäärän
            näihin  linkit konkreettiseen uutiseen. 
            </p>

            <ol>

                <li th:each="uutinen : ${uutiset}">
                    <a th:href="@{/uutinen/{uutinenId}(uutinenId=${uutinen.id})}" th:text="${uutinen.name}">uutinen name</a>
                    <!--Tähän pitäis saada pvm mukaan
                    kommentti    <a th:href="@{/uutinen/{uutinenId}(uutinenId=${uutinen.id})}" th:text="${uutinen.kategoria}">uutinen name</a>  -->
                </li>
            </ol>
        </div> <br/><br/> 

        <div>
            <h2>Uutiset kategorioittain??? (kategoria nimi ja pvm)</h2>     

            <ol>

                <li th:each="uutinen : ${uutiset}">
                    <a th:href="@{/uutinen/{uutinenId}(uutinenId=${uutinen.id})}" th:text="${uutinen.kategoria}">uutinen name</a>
                    <!--Tähän pitäis saada pvm mukaan
                    kommentti    <a th:href="@{/uutinen/{uutinenId}(uutinenId=${uutinen.id})}" th:text="${uutinen.kategoria}">uutinen name</a>  -->
                </li>
            </ol>
        </div> <br/><br/>


        <div><a href="/">Lisää uusi uutinen</a></div>
        
    </body>

</html>
