<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Uutinen</title>
    </head>
    <body>
        
         <p>
         navigaatio   kategoriaat linkit listana
        </p>

        
        <h2>Uutinen</h2>
      


        <h2>Uusimmat uutset (lista)</h2>
        <h2>Puhutuimmat (lista)</h2>
        
        <p>
        Jokaisella uutissivulla tulee näkyä uutisen lisäksi myös julkaisuajan perusteella
        sekä lukumäärien perusteella luodut listat. Sivuston ylälaidassa tulee näkyä kategoriat.
        </p>
   

    </body>

</html>
