<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Uutinen</title>
    </head>
    <body>

        <div>
            <ul>
                <li  style="display:inline; padding-right: 20px; text-transform:uppercase; font-weight:bold;
                     font-size:2em;font-family:sans-serif;word-spacing:30px;" th:each="uutinen : ${uutiset}">
                    <a th:href="@{/uutinen/{uutinenId}(uutinenId=${uutinen.id})}" th:text="${uutinen.kategoria}">uutinen name</a>
                    <!--kommentti    <a th:href="@{/uutinen/{uutinenId}(uutinenId=${uutinen.id})}" th:text="${uutinen.kategoria}">uutinen name</a>  -->
                </li>
            </ul>
        </div> 
        <!--kommentti 
                
                    <div>
                 <ul>
                    <a  th:href="@{/uutinen/{uutinenId}}"> UUTISTEN LISÄYS<li style="display:inline; padding-right: 20px; text-transform:uppercase; font-weight:bold;
                   font-size:2em;font-family:sans-serif;word-spacing:30px;" th:each="uutinen : ${uutiset}" th:text="${uutinen.kategoria}"  ></li></a>
              
                 </ul>
             </div>
             
              <p>
              navigaatio   kategoriaat linkit listana
             </p>
             <h2>Uutinen:</h2>
            
              
                   <li th:each="actor : ${actors}">
                     <a th:href="@{/actors/{actorId}(actorId=${actor.id})}" th:text="${actor.name}">actor name</a>
     
                     <form th:action="@{/actors/{actorId}(actorId=${actor.id})}" th:method="DELETE">
                         <input type="submit" value="Remove" th:id="${'remove-' + actor.id}"/>
                     </form><br/ 
     <h1 th:each="uutinen : ${news}" th:value="${uutinen.id}" th:text="${uutinen.name}"</h1>          
        -->

       
  <div>
   <h1 th:each="uutinen : ${news}" th:value="${uutinen.id}" th:text="${uutinen.name}"></h1>
   <h2 th:each="uutinen : ${news}"  th:value="${uutinen.id}" th:text="${uutinen.ingressi}"></h2>
   <p th:each="uutinen : ${news}"  th:value="${uutinen.id}" th:text="${uutinen.sisalto}"></p><br/> 
   <p>kirjoittaja:</p>
   <p th:each="uutinen : ${news}"  th:value="${uutinen.id}" th:text="${uutinen.kirjoittajat}"></p><br/>
   <p>kategoria:</p>
   <p th:each="uutinen : ${news}"  th:value="${uutinen.id}" th:text="${uutinen.kategoria}"></p><br/>
     </div>
            <!--kommentti   
            <ul>
                <li th:each="uutinen : ${news}"  th:value="${uutinen.id}" th:text="${uutinen.name}"></li>
                <li th:each="uutinen : ${news}"  th:value="${uutinen.id}" th:text="${uutinen.ingressi}"></li>
                <li th:each="uutinen : ${news}"  th:value="${uutinen.id}" th:text="${uutinen.sisalto}"></li>
                 <li th:each="uutinen : ${news}"  th:value="${uutinen.id}" th:text="${uutinen.time}"></li> 
                <li th:each="uutinen : ${news}"  th:value="${uutinen.id}" th:text="${uutinen.kirjoittajat}"></li>
                <li th:each="uutinen : ${news}"  th:value="${uutinen.id}" th:text="${uutinen.kategoria}"></li>

     
            </ul> 
            
        

            <h2>luotu uutinen</h2>
            <div>
                <ul>
                    <a th:href="@{/uutinen/{id}}"><li th:each="uutinen : ${uutiset}" th:text="${uutinen}"></li></a>

                </ul>
            </div>



        </div>


        <h2>Uusimmat uutset (lista)</h2>
      

        <div>
            <ul>
                <a th:href="@{/uutinen/*}"><li th:each="uutinen : ${uutiset}" th:text="${uutinen.name}"></li></a>

            </ul>
        </div>



        <h2>Luetuimmat (lista)</h2>

        <li th:each="uutinen : ${uutiset}" th:text="${uutinen}"></li>


        <p>
            Jokaisella uutissivulla tulee näkyä uutisen lisäksi myös julkaisuajan perusteella
            sekä lukumäärien perusteella luodut listat. Sivuston ylälaidassa tulee näkyä kategoriat.
        </p>
          -->

        <div><a href="/">Lisää uusi uutinen</a></div><br/>
        
      <div><a href="/listaus">Hae uutisia</a></div>
    </body>

</html>
