<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Uutinen</title>
    </head>
    <body>
 
        <div>
            <ul>
                <li  style="display:inline; padding-right: 20px; text-transform:uppercase; font-weight:bold;
                     font-size:2em;font-family:sans-serif;word-spacing:30px;" th:each="uutinen : ${uutiset}">
                    <a th:href="@{/uutinen/{uutinenId}(uutinenId=${uutinen.id})}" th:text="${uutinen.kategoria}">uutinen name</a>
                    <!--kommentti    <a th:href="@{/uutinen/{uutinenId}(uutinenId=${uutinen.id})}" th:text="${uutinen.kategoria}">uutinen name</a>  -->
                </li>
            </ul>
        </div> 
               
       

   
  <div>
   <h1 th:each="uutinen : ${news}" th:value="${uutinen.id}" th:text="${uutinen.name}"></h1>
   <h2 th:each="uutinen : ${news}"  th:value="${uutinen.id}" th:text="${uutinen.ingressi}"></h2>
   <p th:each="uutinen : ${news}"  th:value="${uutinen.id}" th:text="${uutinen.sisalto}"></p><br/> 
   <p>kirjoittaja:</p>
   <p th:each="uutinen : ${news}"  th:value="${uutinen.id}" th:text="${uutinen.kirjoittajat}"></p><br/>
   <p>kategoria:</p>
   <p th:each="uutinen : ${news}"  th:value="${uutinen.id}" th:text="${uutinen.kategoria}"></p><br/>
     </div>
            <!--kommentti   
            <ul>
                <li th:each="uutinen : ${news}"  th:value="${uutinen.id}" th:text="${uutinen.name}"></li>
                <li th:each="uutinen : ${news}"  th:value="${uutinen.id}" th:text="${uutinen.ingressi}"></li>
                <li th:each="uutinen : ${news}"  th:value="${uutinen.id}" th:text="${uutinen.sisalto}"></li>
                 <li th:each="uutinen : ${news}"  th:value="${uutinen.id}" th:text="${uutinen.time}"></li> 
                <li th:each="uutinen : ${news}"  th:value="${uutinen.id}" th:text="${uutinen.kirjoittajat}"></li>
                <li th:each="uutinen : ${news}"  th:value="${uutinen.id}" th:text="${uutinen.kategoria}"></li>

          -->

        <div><a href="/">Lisää uusi uutinen</a></div><br/>
        
      <div><a href="/listaus">Uutisten listaaminen</a></div>
    </body>

</html>
